<h1> My fav Anime</h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>caracteristiques</th>
  </tr>
  <tr>
    <td><img src="./../assets/naruto.jpg" width="100px"/></td>
    <td>Naruto UZAMAKI</td>
    <td>Kyubi</td>
  </tr>

  <tr>
    <td><img src="./../assets/hinata.png" width="100px"/></td>
    <td>Hinata</td>
    <td>Kyubi</td>
  </tr>

  <tr>
    <td><img src="./../assets/sasuke.png" width="100px"/></td>
    <td>Sasuke</td>
    <td>Kyubi</td>
  </tr>
</table>

<router-outlet></router-outlet>